---
import "@/styles/globals.css";
import Navbar from "@/components/ui/navbar/navbar";
import Layout from "../layouts/Layout.astro";
import AboutMe from "@/components/layout/AboutMe/AboutMe";
import WorkExperience from "@/components/layout/WorkExperience";
---

<Layout title="Luis Silva Portfolio">
  <Navbar client:load />
  <main class="w-full h-auto flex flex-col justify-start items-start">
		<section class="w-full  flex justify-center items-start bg-[#F5F5F5] h-fit dark:bg-[#060c14]">
			<AboutMe client:load/>
		</section>
		<section class="w-full  flex justify-center items-start bg-white h-fit dark:bg-[#060c14]">
			<WorkExperience client:load/>
		</section>
	</main>
</Layout>
