---
import "@/styles/globals.css";
import { type Lang } from "@/types/lang.type";
import { Toaster } from "@/components/ui/toaster";
import Navbar from "@/components/ui/navbar/navbar";
import Layout from "../../layouts/Layout.astro";
import AboutMe from "@/components/sections/AboutMe/AboutMe";
import WorkExperience from "@/components/sections/WorkExperience";
import Technologies from "@/components/sections/Technologies/Technologies";
import Projects from "@/components/sections/Projects/Projects";
import ContactMe from "@/components/sections/ContactMe/ContactMe";
import dictionary from "@/assets/dictionary/dictionary.json";

export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
const dictionarData = dictionary.navbar; 
---

<Layout title="Luis Silva Portfolio">
  <Navbar lang={lang as Lang} client:visible/>
  <main id="main" class="w-full h-auto flex flex-col justify-start items-start ">
    
    <section id={dictionarData.aboutMe.id} data-scroll class="w-full  flex justify-center flex-col items-center bg-[#F5F5F5] h-fit dark:bg-tertiary-perzonalized-1 dark:bg-[url('')]">
      <AboutMe lang = {lang as Lang} client:visible/>
      <Technologies client:visible/>
    </section>

    <section id={dictionarData.workExperience.id} data-scroll class="w-full h-full min-h-[900px] flex justify-center items-center bg-white dark:bg-tertiary-perzonalized-1">
      <WorkExperience lang = {lang as Lang} client:visible/>
    </section>

    <section id={dictionarData.projects.id} data-scroll class="w-full h-full min-h-[900px] flex justify-center items-center bg-[#F5F5F5] dark:bg-tertiary-perzonalized-1">
      <Projects lang = {lang as Lang} client:visible/>
    </section>

    <section id={dictionarData.getInTouch.id} data-scroll class="w-full h-auto flex justify-center items-center bg-white dark:bg-tertiary-perzonalized-1">
      <ContactMe lang = {lang as Lang} client:visible/>
    </section>
  </main>
  <Toaster client:visible/>
</Layout>