---
import "@/styles/globals.css";
import { type Lang } from "@/types/lang.type";
import Navbar from "@/components/ui/navbar/navbar";
import Layout from "../../layouts/Layout.astro";
import AboutMe from "@/components/sections/AboutMe/AboutMe";
import WorkExperience from "@/components/sections/WorkExperience";
import Technologies from "@/components/sections/Technologies/Technologies";
import Projects from "@/components/sections/Projects/Projects";

export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
---

<Layout title="Luis Silva Portfolio">
  <Navbar lang={lang as Lang} client:load/>
  <main class="w-full h-auto flex flex-col justify-start items-start">
    <section class="w-full sticky top-14 flex justify-center flex-col items-center bg-[#F5F5F5] h-fit dark:bg-[#060c14]">
      <AboutMe lang = {lang as Lang} client:load/>
      <Technologies client:load/>
    </section>
    <section class="w-full flex justify-center items-start bg-white h-auto z-10 dark:bg-[#121b26]">
      <WorkExperience lang = {lang as Lang} client:load/>
    </section>
    <section class="w-full flex justify-center items-start bg-[#F5F5F5] h-fit dark:bg-[#060c14] z-10">
      <Projects lang = {lang as Lang} client:load/>
    </section>
  </main>
</Layout>