---
import '@fontsource/twinkle-star';
import { ClientRouter } from 'astro:transitions';
const { lang } = Astro.params;

---

<!doctype html>
<html lang={lang} class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Luis Silva</title>
		<ClientRouter/>
	</head>
	<body>
			<slot />
	</body>
</html>

<style>
	html,
	body {
		background-image: url('/public/img/grey_sandbag.png');
		background-repeat: repeat;
		z-index: 100;
		margin: 0;
		width: 100%;
		min-height: 100vh;
		height: auto;
	}
</style>
